.btn {
  background-color: var(--yellow);
  box-shadow: var(--shadow-btn-inner);
  border-radius: 10px;
  padding: 15px;
  color: var(--white);
  font-size: var(--fs-btn);
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'NEXT Book';
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn--100 {
  width: 100%;
}

.camera-btn {
  padding: 25px 25px 25px 25px;
  i {
    //center i inside parent height and width
    position: absolute;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  height: 1/6vw;
  width: 1/6vw;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
.btn--fa-square {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  filter: drop-shadow(3.42901e-16px 1px 10px rgba(0, 0, 0, 0.05));
}
