.btn {
  background-color: var(--yellow);
  box-shadow: var(--btn-inner-shadow);
  border-radius: 10px;
  padding: 15px;
  color: var(--white);
  font-size: var(--fs-btn);
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'NEXT Book';
  font-weight: bold;
}

.btn--100 {
  width: 100%;
}
