.poi_img{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 65vw;
max-height: 300px;
object-fit: cover;
left: 0px;
top: 0px;
}

.poi_title{
display: inline;
font-family: "NEXT Book bold";
color: var(--black);
/* M_Detail_H1 */



font-style: normal;
font-size: 30px;
line-height: 36px;

}


.poi_author{
  font-family: "NEXT Book thin";
  color: var(--darkGray);
  font-size: 20px;
  line-height: 25px;
}

.poi_title_detail{


}

.poi_detail{
  display: inline;

  font-family: "NEXT Book bold";
color: var(--yellow);

}

.poi_description{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  font-feature-settings: 'liga' off;
}
