.poiListItem {
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: var(--default-padding);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > .poiListItem__title {
    display: flex;
    align-items: baseline;
    > .checkbox {
      margin-bottom: 0;
      margin-left: var(--default-padding);
    }
  }
  > .btn--fa-square {
    display: flex;
    align-self: end;
  }
}
