.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  > img {
    max-width: 250px;
    margin: auto;
    display: block;
  }

  > p {
    margin: 0;
    font-weight: 300;
  }

  .closeButton {
    display: none;
  }

  .langSelector {
    margin: 1.5rem 0;
  }
}
